.nav-item a{
  font-weight: bold;
  font-size: 17px;
}

.navbar {
  background-color: #f8f9fa;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.navbar-nav .nav-item:last-child {
  margin-right: 20px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
}

.navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  width: 0;
  height: 3px;
  background-color: #007bff;
  transition: width 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 15px;
}




.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: #f9fbff;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.hero-content h1 span {
  color: #007bff;
}

.hero-content p {
  margin: 20px 0;
  color: #555;
  font-size: 1rem;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-buttons .btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.hero-buttons .btn-secondary {
  background-color: transparent;
  color: #007bff;
  padding: 10px 20px;
  border: 2px solid #007bff;
  cursor: pointer;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
